/*================================================================================================*/
/*========================================== GLOBAL STYLES =======================================*/
/*================================================================================================*/

body {
  margin: 0;
}

/*================================================================================================*/
/*================================================1 - BANNER ========================================*/
/*================================================================================================*/

/*************************************** BACKGROUND ***************************************/
.banner-section {
  height: 780px;
  position: relative;
}
.banner-section > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*************************************** CONTENT ***************************************/
.banner-section > .content {
  position: absolute;
  width: 600px;
  top: 92px;
  right: 110px;
}
.banner-section .content > * {
  position: absolute;
}
.banner-section .content > .ellipse {
  z-index: 1;
  width: 465px;
  height: 465px;
  border-radius: 250px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}
.banner-text {
  z-index: 2;
  margin-top: 74px;
  margin-left: 73px;
  text-align: center;
}
.banner-text > p {
  font-size: 106.496px;
  line-height: 75%;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
  margin-block-start: 0em;
  margin-bottom: 60px;
}
.banner-text span {
  color: #ffee2e;
}
.banner-text > button {
  margin: 0px;
}
/*================================================================================================*/
/*================================================ 2 - ANIMALS ===================================*/
/*================================================================================================*/

/*************************************** BACKGROUND ***************************************/
.animal-section {
  position: relative;
  width: 100%;
  padding-top: 140px;
  padding-bottom: 100px;
}

/* CONTENT */
.animal-section > .content {
  background-color: white;
  margin-left: 180px;
  margin-right: 180px;
  padding-bottom: 120px;
}
.animal-section > .content > div {
  width: 100%;
}

/*************************************** HISTORY ***************************************/
.animal-section .history > * {
  display: inline-block; /* to show it as two columns */
  vertical-align: top; /* align two blocks to the top */
  /* 
  width formula:

  * 50% - half of space
  * 0.25em - it is margin that already presents in the first element because we use display: inline-block. 
  And we need to devide it by 2 because there are no margin in the second element
  It's stupid but there are no other way how to do it ;(
  */
  width: calc(50% - 0.25em / 2); /* half of space */
}
.animal-section .history > .texts > * {
  padding-left: 87px; /* space between two columns */
}
.animal-section .history .texts > * {
  color: #333b41;
}
.animal-section .history .texts > p,
.animal-section .history .texts > h2 {
  margin: 0px;
}
.animal-section .history .texts > p:nth-child(2) {
  margin-top: 20px;
}
.animal-section .history .texts > p:nth-child(3) {
  margin-top: 54px;
}
.animal-section .history .texts > p:nth-child(4) {
  margin-top: 34px;
}

/*************************************** cards **********************************************/
.animal-section .cards {
  margin-top: 100px;
  position: relative;
}

.animal-section .cards > div.card {
  /* 
  width formula:

  * 100% - whole width
  * 60px - two margin in the second card 
  * 6px - six borders in our cards 
  */
  width: calc((100% - 60px - 6px) / 3);
  display: inline-block; /* for div in one line*/
  vertical-align: top; /* align all cards to the top */
}
.animal-section .cards > div:nth-child(2),
.animal-section .cards > div:nth-child(5) {
  /* 
  left/right margin formula:

  * 30px - desired width of space between cards
  * 0.25em - it is margin that already presents in the first/third card because we use display: inline-block. 
  It's stupid but there are no other way how to do it ;(
  */
  margin: 0px calc(30px - 0.25em) 25px calc(30px - 0.25em);
}
.animal-section .cards > div:nth-child(7),
.animal-section .cards > div:nth-child(8) {
  position: absolute;
  /*
  top formula:

  * 50% center of the cards container
  * 31px - half of height in the arrow-button
  * 12.5px - half of space between card rows
  */
  top: calc(50% - 31px - 12.5px);
}
.animal-section .cards > div:nth-child(7) {
  left: -120px;
}
.animal-section .cards > div:nth-child(8) {
  right: -120px;
}
/*************************************** button choose **********************************************/

.animal-section > .content > button {
  /* 
  Button display property by default equals to inline-block. 
  So we need to change to be able use margin auto for center aligment 
  */
  display: block;
  margin: 70px auto 0px auto;
}
/*************************************** FLOWERS **********************************************/
.flowers > * {
  position: absolute;
}
.flowers > img:nth-child(1) {
  top: 11px;
  right: 0px;
  width: 200px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.flowers > img:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 292px;
}
.flowers > img:nth-child(2) {
  width: 368px;
  height: 275px;
  bottom: 0px;
  right: 0px;
}
/*================================================================================================*/
/*========================================== 3 - PICK AND FEED ===================================*/
/*================================================================================================*/

/********************************************  Background  ****************************************/
.feed-section {
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  opacity: 0.9;
  width: 100%;
  padding-top: 69px;
  padding-bottom: 100px;
}
.feed-section > .content {
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  margin-left: 180px;
  margin-right: 180px;
  padding-bottom: 59px;
}
/********************************************  Texts  ****************************************/
.feed-section > .content > .texts > * {
  color: #333b41;
  margin: 0px;
}
.feed-section > .content > .texts > :nth-child(1) {
  color: #fe9013;
  padding-top: 41px;
  padding-bottom: 30px;
  text-align: center;
}
.feed-section > .content > .texts > :nth-child(2) {
  margin-left: 99px;
  padding-bottom: 40px;
  font-weight: 500;
}
.feed-section > .content > .texts > :nth-child(3) {
  margin-left: 99px;
  padding-bottom: 10px;
  line-height: 130%;
  font-weight: 600;
}
.feed-section > .content > .texts > :nth-child(4) {
  margin-left: 99px;
  margin-right: 198px;
  padding-bottom: 60px;
}
.feed-section > .content > .texts > :nth-child(5) {
  text-align: center;
  padding-bottom: 40px;
}
/********************************************  Button Feed  ****************************************/
.feed-section > .content > button {
  display: block;
  margin: 60px auto 0px auto;
}
/************************************   Icons pay  *********************************************/
.feed-section > .content > .payment {
  margin-left: 100px;
  margin-right: 100px;
}
.feed-section > .content > .payment > * {
  display: inline-block;
  vertical-align: top;
  margin-left: calc(
    (100% - 168px * 3 - 69px * 2 - 6px - 0.5em) / 6
  ); /* 
  * 100% - whole width
  * 168px - width of one card (we have three of them, that's why * 3)
  * 69px - width of one arrow (we have two, so that we need to * 2)
  * 6px - width of one border in each card - 1px, we have 3 cards, each of them 
  have 2 borders, so that we have 6 borders, 6 * 1px = 6px
  * 0.5 em - standart margin that already presents in the first/third card (0.25 em in each)
   */
}
.feed-section .payment > div:nth-child(2) > .images > img {
  padding-top: 38px;
}
.feed-section .payment > div:nth-child(3) > .images > img {
  padding-top: 48px;
}
.feed-section > .content > .payment > img {
  margin-top: 60px;
}
/*================================================================================================*/
/*========================================== 5 - FOOTER SECTION ==================================*/
/*================================================================================================*/
.footer-section {
  background: #000000;
  /* height: 443px; */
  width: 100%;
}
.footer-section .content {
  padding: 40px 180px 50px 180px;
}
.footer-section .content > * {
  display: inline-block;
}
.footer-section .content > .links > button {
  margin-top: 68px;
  margin-bottom: 44px;
}
.footer-section .navigation > * {
  color: white;
  text-decoration: none;
  display: inline-block;
}
.footer-section .navigation {
  padding-left: 100px;
  text-align: justify;
  width: 400px;
  line-height: 0;
}
.navigation::after {
  content: "";
  display: inline-block;
  width: 100%;
  overflow: hidden;
  visibility: hidden;
  height: 0;
}
