/*================================================================================================*/
/*========================================== GLOBAL STYLES =======================================*/
/*================================================================================================*/

body {
  margin: 0;
}

/*================================================================================================*/
/*================================================ BANNER ========================================*/
/*================================================================================================*/

/*************************************** BACKGROUND ***************************************/
.banner-section {
  height: 780px;
  position: relative;
}
.banner-section > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*************************************** CONTENT ***************************************/
.banner-section > .content {
  position: absolute;
  width: 600px;
  top: 92px;
  right: 110px;
}
.banner-section .content > * {
  position: absolute;
}
.banner-section .content > .ellipse {
  z-index: 1;
  width: 465px;
  height: 465px;
  border-radius: 250px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}
.banner-text {
  z-index: 2;
  margin-top: 74px;
  margin-left: 73px;
  text-align: center;
}
.banner-text > p {
  font-size: 106.496px;
  line-height: 75%;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
  margin-block-start: 0em;
  margin-bottom: 60px;
}
.banner-text span {
  color: #ffee2e;
}
.banner-text > button {
  margin: 0px;
}

/*================================================================================================*/
/*================================================ ANIMALS =======================================*/
/*================================================================================================*/

/*************************************** BACKGROUND ***************************************/
.animal-section {
  position: relative;
  background-color: purple;
  width: 100%;
  padding-top: 140px;
  padding-bottom: 100px;
}

/* CONTENT */
.animal-section > .content {
  /* background-color: teal; */
  /* width: 1161px; */
  /* margin: 0 auto; */
  background-color: white;
  margin-left: 180px;
  margin-right: 180px;
}
.animal-section > .content > div {
  width: 100%;
}

/*************************************** HISTORY ***************************************/
.animal-section .history {
  position: relative;
}

.animal-section .history > img {
  width: 52.4%;
}
.animal-section .history > .texts {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(47.6% - 87px);
}
.animal-section .history .texts > * {
  color: #333b41;
}
.animal-section .history .texts > p,
.animal-section .history .texts > h2 {
  margin: 0px;
}
.animal-section .history .texts > p:nth-child(2) {
  margin-top: 20px;
}
.animal-section .history .texts > p:nth-child(3) {
  margin-top: 54px;
}
.animal-section .history .texts > p:nth-child(4) {
  margin-top: 34px;
}

/*************************************** cards **********************************************/
.animal-section .cards {
  margin-top: 100px;
  position: relative;
}

.animal-section .cards > div.card {
  width: calc((99% - 64px) / 3);
  display: inline-block; /* for div in one line*/
  margin: 0 auto;
}
.animal-section .cards > div:nth-child(2) {
  margin: 0px 30px 25px 30px;
}
.animal-section .cards > div:nth-child(5) {
  margin-left: 30px;
  margin-right: 30px;
}
.animal-section .cards > div:nth-child(7) {
  position: absolute;
  left: -120px;
  top: calc(50% - 31px - 12.5px);
}
.animal-section .cards > div:nth-child(8) {
  position: absolute;
  right: -120px;
  top: calc(50% - 31px - 12.5px);
}

/*************************************** button choose **********************************************/

.animal-section > .content > button {
  margin: 70px 0 120px 0;
  margin-left: calc((100% - 2 * 140px) / 2);
}

/*************************************** FLOWERS **********************************************/
.flowers > * {
  position: absolute;
}
.flowers > img:nth-child(1) {
  top: 11px;
  right: 0px;
  width: 200px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.flowers > img:nth-child(3) {
  /* top: 1369px; */
  bottom: 0px;
  width: 292px;
}
.flowers > img:nth-child(2) {
  width: 368px;
  height: 275px;
  bottom: 0px;
  right: 0px;
}
