body {
  margin: 0;
}
.banner > img {
  width: 100%;
  height: 780px;
}
.banner > .ellipse {
  position: absolute;
  width: 465px;
  height: 465px;
  left: calc(50% - 465px / 2 + 239.5px);
  top: 92px;
  border-radius: 250px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}
.banner > .header-1 {
  position: absolute;
  width: 500.31px;
  height: 400px;
  left: calc(50% - 500.31px / 2 + 330.15px);
  top: 166px;
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
  margin-block-start: 0em;
}
.banner > .button-type-1 {
  position: absolute;
  left: calc(50% - 298px / 2 + 332px);
  top: 626px;
  margin: 0px;
}

.old-man {
    padding-top: 140px;
    padding-left: 100px;
}
.old-man > .img-men {
    width: 609px;
    height: 403px;
}

.old-man > .header-2 {
    height: 116px;
    width: 465px;
    left: 800px;
    color: #333B41;
    position: absolute;
    margin: 0px;
}
.old-man > .body {
    position: absolute;
    top: 1056px;
    left: 800px;
    width: 400px;
    height: 42px;
    line-height: 130%;
    color: #333B41;
}
.old-man > .subtitle {
    position: absolute;
    width: 200px;
    height: 29px;
    left: 800px;
    top: 1152px;
    color: #333B41;
}
.old-man > .body-medium {
    position: absolute;
    width: 420px;
    height: 105px;
    left: 800px;
    top: 1215px;
    font-weight: 400;
    color: #333B41;
}
.img-flow-1 {
    position: absolute;
    height: 605px;
    left: 1220px;
    top: 791px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}