.card {
  /* width: 366px; */
  border: 1px solid #f9804b;
  border-radius: 6px;
}
.card > img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card .content {
  position: relative;
  padding-bottom: 14px;
  width: 100%;
}
.card .texts > p:nth-child(1) {
  text-transform: uppercase;
  font-weight: bold;
}
.card .texts > * {
  margin: 0px;
  padding-left: 16px;
}
.card .food {
  position: absolute;
  right: 55px;
  top: 8px;
}
.card .food > * {
  position: absolute;
}
.card .steak {
  top: 4px;
  left: 4px;
}
.card .fish {
  top: 10px;
  left: 12px;
}
.card .bamboo {
  top: 2px;
  left: 17px;
}
.card .banana {
  top: 4px;
  left: 12px;
}
/******************************************* Testimonials card *********************************/
.testimonial-card {
  background: #f1f3f2;
  border-radius: 18px;
  height: 371px;
  padding-left: 16px;
  padding-right: 14px;
  overflow-y: hidden;
  border-bottom: 20px solid #f1f3f2;
}
.gradient {
  background: linear-gradient(
    to top left,
    rgba(254, 189, 171, 0.74),
    rgba(254, 189, 171, 0.74),
    rgba(243, 169, 248, 0.66),
    rgba(224, 216, 240, 1),
    rgba(224, 216, 240, 1)
  );
  padding: 3px;
  border-radius: 20px;
}
.testimonial-card > .header {
  width: 100%;
  padding: 15px 0px 11px 0px;
}
.testimonial-card > .header > * {
  display: inline-block;
  margin-right: 10px;
}
.testimonial-card > .header > .texts > :nth-child(1) {
  margin: 0px;
  line-height: 120%;
}
.testimonial-card > .header > .texts > :nth-child(2) {
  margin: 0px;
  color: #bdbdbd;
}
.testimonial-card span {
  vertical-align: 3px;
}
.testimonial-card > p {
  margin: 0px;
  color: #767474;
}
/*********************************************  @media  ******************************************/
@media (max-width: 420px) {
  .card .texts > * {
    padding-left: 7px;
  }
  .card .food {
    right: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
  }
  .card .food > * {
    width: 100%;
    top: 0px;
    left: 0px;
  }
  .card .bamboo {
    height: 100%;
  }
  .fish {
    padding-top: 4px;
  }
}
