.card {
  /* width: 366px; */
  border: 1px solid #f9804b;
  border-radius: 5px;
}
.card > img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card .content {
  position: relative;
  padding-bottom: 14px;
  width: 100%;
}
.card .texts > p:nth-child(1) {
  text-transform: uppercase;
  font-weight: bold;
}
.card .texts > * {
  margin: 0px;
  padding-left: 16px;
}
.card .food {
  position: absolute;
  right: 55px;
  top: 8px;
}
.card .food > * {
  position: absolute;
}
.card .steak {
  top: 4px;
  left: 4px;
}
.card .fish {
  top: 10px;
  left: 12px;
}
.card .bamboo {
  top: 2px;
  left: 17px;
}
.card .banana {
  top: 4px;
  left: 12px;
}
