.icon {
  width: 168px;
}
.icon > .image {
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #fe9013;
  margin-bottom: 30px;
  height: 168px;
}
.icon > .image > img {
  display: block;
  margin: 45px auto;
}
.icon > .texts > p {
  margin: 0px;
  color: #333b41;
}
/* footer logo*/
.logo {
  width: 80px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  text-align: center;
  position: relative;
  padding-bottom: 6.55px;
}
.logo > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
  color: #ffffff;
  margin: 0px;
}
.logo > img {
  position: absolute;
  left: 11.13px;
  bottom: 8.79px;
}

/*=============================================  @media ============================================*/
@media (max-width: 420px) {
  .icon {
    width: 75px;
  }
  .icon > .image {
    width: 75px;
    height: 75px;
    margin-bottom: 10px;
  }
  .icon > .image > img {
    width: 70%;
    height: 70%;
    margin: 10px auto;
  }
  .icon > .texts {
    width: 75px;
  }
  .logo {
    width: 30px;
    padding-bottom: 2px;
  }
  .logo > p {
    font-size: 8px;
  }
  .logo > img {
    left: 2px;
    bottom: 3px;
    width: 7px;
  }
}
