.active {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
/*=======================================  footer links ========================================*/
.social-link > * {
  display: inline-block;
}
.social-link > .ellipse {
  background: rgba(196, 196, 196, 0.5);
  width: 26px;
  height: 26px;
  border-radius: 15px;
  position: relative;
}
.social-link img {
  position: absolute;
  margin-top: 5px;
  margin-left: 9px;
}
.social-link > p {
  color: #ffffff;
  margin: 0px;
  vertical-align: 5px;
  margin-left: 10px;
}
.social-link:nth-child(1),
.social-link:nth-child(2),
.social-link:nth-child(3) {
  margin-bottom: 7px;
}
.social-link:nth-child(2) img {
  margin-top: 6px;
  margin-left: 6px;
}
.social-link:nth-child(3) img {
  margin-top: 5px;
  margin-left: 5px;
}
.social-link:nth-child(4) img {
  margin-top: 6px;
  margin-left: 4px;
}
/* @media */
@media (max-width: 420px) {
  .social-link > p {
    vertical-align: 10px;
    margin-left: 5px;
  }
  .social-link:nth-child(1),
  .social-link:nth-child(2),
  .social-link:nth-child(3) {
    margin-bottom: 2px;
  }
}
