.text {
  color: #000000;
  font-style: normal;
  font-weight: 400;
}
.header-1 {
  font: 700 114px/80% Roboto;
  text-transform: uppercase;
}
.header-2 {
  font: 48px/120% Roboto;
}
.header-3 {
  font: 36px/130% Roboto;
}
.subtitle {
  font: 24px/120% Roboto;
}
.body-medium {
  font: 500 16px/140% Roboto;
}
.body {
  font: 16px/140% Roboto;
}
.body-small {
  font: 300 15px/120% Roboto;
}

/*=============================================  @media ============================================*/
@media (max-width: 420px){
  .header-2 {
    font-size: 12px;
  }
  .body {
    font-size: 8px;
  }
  .subtitle {
    font-size: 10px;
  }
  .body-medium {
    font-size: 8px;
  }
  .body-small {
    font-size: 6px;
  }
  .header-3 {
    font-size: 11px;
  }
}
