.text {
  color: #000000;
  font-style: normal;
  font-weight: 400;
}
.header-1 {
  font: 700 114px/80% Roboto;
  text-transform: uppercase;
}
.header-2 {
  font: 48px/120% Roboto;
}
.header-3 {
  font: 36px/130% Roboto;
}
.subtitle {
  font: 24px/120% Roboto;
}
.body-medium {
  font: 500 16px/140% Roboto;
}
.body {
  font: 16px/140% Roboto;
}
.body-small {
  font: 300 15px/120% Roboto;
}
@media (max-width: 420px){
  .header-2 {
    font-size: 12px;
  }
  .body {
    font-size: 8px;
  }
  .subtitle {
    font-size: 10px;
  }
}

/*=============================================  @media ============================================*/
/*banner*/
/* @media screen and (max-width: 420px) {
  .banner-section {
    height: 100%;
  }
}
@media (max-width: 420px) {
  .banner-text > p {
    font-size: 24px;
    line-height: 75%;
    margin-bottom: 30px;
  }
  .banner-section > .content {
    width: 150px;
    top: 30px;
    right: 20px;
    height: 150px;
  }
  .banner-section .content > .ellipse {
    width: 130px;
    height: 130px;
    border-radius: 130px;
  }
  .banner-text {
    z-index: 2;
    margin-top: 20px;
    margin-left: 0px;
    text-align: center;
    width: 150px
  }
  .banner-text > button {
    margin-top: 10px;
    width: 100px;
    height: 24px;
    font-size: 8px;
}
  } */
